.idea/
.gradle/
build/
local.properties
*.iml
*.ipr
*.iws
.DS_Store
captures/
.externalNativeBuild/

*.apk
*.ap_
*.aab
*.aar
*.aidl
*.dex
*.ec
*.lib
*.obj
*.o
*.so
*.swp
*.bak
*.orig
*.rej
*.log
*.class
*.jar
*.keystore
*.jks
proguard-project.txt
proguard-rules.pro
instant-run/
gradle-app.setting
gradlew
gradlew.bat

.gradle-initialization-lock
.gradle-init.lock
.gradle-lock
.gradle.lock
gradle/wrapper/gradle-wrapper.jar

*.kotlin_module
*.kpt
*.kjs
*.js.map
*.kotlin_builtins


crashlytics-build.properties
output.json
generated/

-keep.txt
-keepnames.txt
-printmapping.txt
-usage.txt
-optimization-report.txt
-seeds.txt

thumbdata3--*.db
.cxx/
*.swp
*.swo
.project
.settings/
tmp/
temp/
export/
import/
.svn/
.hg/
CVS/

studio.xml


*.jks
*.keystore
debug.keystore

lint-results.html
lint-results.xml

.m2/
.m2repository/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.directory

google-services.json

# Test Raporları
test-results/